:root{
    --body-background: #FFDFD3;
    --main-background: #D291BC;
    --box-shadow: 5px 5px 10px #a86f95;
    --points-backgroud: #f7bea9;
    --points-shadow: 5px 5px 10px #c48c77;
    --activeHeart:red;
    --offlineHeart:#e66771;
    --activeStar:rgb(255, 187, 0);
    --InAtiveStar:rgb(238, 222, 177);
    --rulesbackground:#FD8B7E;
    --menubackground:#8E1025;
}   

*{
    box-sizing: border-box;
}

h1{
    color: rgb(139, 107, 107);
    font-family: 'Love Ya Like A Sister'; 
    font-weight: bold;
    font-size: 50px;
}

body{
    background-image: url(./images/abstract.jpg);
    background-color: var(--body-background);
    font-weight: 900;
    margin: 0;
    padding: 0;
}
/* CONTAINER */
.game_stats, .main, .points{
    opacity:  0.91;
}


/* GAME STATS */
.game_stats{
    margin: 0 auto;
    height: 100px;
    width: 400px;
    margin-bottom: 2%;
    margin-top: 5%;
    background-color: var(--main-background);
    border-radius: 5px;
    display: flex;
    gap: 1%;
    justify-content: space-between;
    box-shadow: var(--box-shadow);

}

.ptk, .time{
    margin: 5%;
    flex-basis: 40%;
    background-color: var(--points-backgroud);
    border-radius: 15px;
    text-align: center;
    align-self: center;
    font-size: 40px;
    box-shadow: var(--points-shadow);
}

/* MAIN */
.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
   
    
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    background-color: var(--main-background);
    height: 400px;
    width: 400px;
    border-radius: 5px;
    

}


.main [class*="fa-"]{
  
    font-size: 1200%;
    font-weight: 900px;
   

}

.heart{
    color: red;
    font-size: 1400%;
    transition: 0.1s;
}

.heart:hover{
    font-size: 1000%;
    transition: 0.1s;
}


/* Points */

.points{
    margin: 0 auto;
    height: 70px;
    width: 400px;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: var(--main-background);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}
.points [class*="fa-"]{
    font-size: 200%; 
    color: var(--InAtiveStar);
}

.point{
    background-color: var(--main-background);   
    flex-basis: 10%;
    margin: 2%;
    border-radius: 10px;
    

}

/* Game Colors */
.firstheart, .secondheart, .fourheart{
    color: var(--offlineHeart);
}
/* Menu */

.menu{
    
    position: absolute;
    width: 500px;
    height: 380px;
    margin: 0 auto;
    background-color: var(--menubackground);
    opacity: 0.95;
    flex-flow: row wrap;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    visibility: visible;
}

.menu h1{
    font-family: 'Akaya Telivigala', cursive;
    flex-basis: 100%;
    
    align-self: center;
    text-align: center;
}


.menu ul li{
    list-style-type: none;
    margin-top: 5%;
    width: 300px;
    height: 50px;
    background-color: var(--points-backgroud);
    text-align: center;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.menu ul li:hover{
    background-color: var(--body-background);

}

/* Rules */

.rules{
    margin: 2%;
    position: absolute;
    width: 80%;
    height: 90%;
    padding: 0;
    border-radius: 2px;
    background-color: var(--rulesbackground);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;

    display: flex;
    align-content: center;
    justify-content: center;
    visibility: hidden;

}

.rules button{
    background-color: #f7bea9;
    border: 1px solid #f7bea9;
    box-shadow: var(--points-shadow);
    margin-bottom: 10%;
    align-self: flex-end;
    border-radius: 2px;
    margin-right: 10%;
    
}
.rules button:hover{
    background-color: var(--body-background);
}
.rules ol{
    
    margin-bottom: 2%;
}
.rules [class*="fa-"]{
    font-size: 100%;
    margin-right: 2%;
}